#main-header {
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #40a7e3;
  background-image: url("../images/back-pattern.png");
  color: #ffffff;
  margin-top: 5em;
  margin-left: 2em;
  margin-right: 2em;
}

#main-header img {
  max-width: 75%;
  height: auto;
  padding-left: 100px;
  padding-top: 30px;
}

.your-name {
  margin: 0;
}

.arrow-down i {
  color: red;
}

@media only screen and (min-width: 1024px) {
  #main-header {
    justify-content: flex-start;
    width: 35vw;
    margin-top: 10em;
  }

  #main-header img {
    max-width: 9em;
    padding-left: 25px;
    padding-top: 15px;
  }
}
