nav {
  height: 120px;
  width: 100%;
  background-color: #4056a1;
  color: #ffffff;
  font-family: "Bungee", cursive;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5em 0 1.5em;
  position: relative;
}

.write-tweet {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.write-tweet p {
  padding: 0;
  margin: 0;
}
