.new-tweet {
  margin-bottom: 35px;
  /* margin-top: 10em; */
}

.new-tweet label {
  font-weight: 600;
}

textarea {
  background-color: #f4f1ec;
  border-style: none;
}

.input-top {
  border-bottom-style: solid;
  padding-bottom: 1em;
  margin-top: 96px;
  display: flex;
  flex-direction: column;
  text-align: left;
  height: 65px;
}

.input-bottom {
  font-family: "Bungee", cursive;
  padding-top: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

button {
  color: #fff;
  background-color: #4056a1;
}

.red {
  color: red;
}

.error {
  display: flex;
  justify-content: center;
  width: 100%;
}

.error h3 {
  border: solid red;
  color: #ff1200;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  width: 100%;
  text-align: center;
  padding: 15px 0px;
}

@media screen and (min-width: 1024px) {
  .new-tweet {
    margin-top: 6em;
    /* margin-left: 6em; */
  }

  textarea {
    width: 60vw;
  }
}
